src/asset/chaincode
src/asset/channel-artifacts/*.tx
src/asset/channel-artifacts/*.block
/ledgers
/ledgers-backup
src/asset/channel-artifacts/*.json
src/asset/organizations/fabric-ca/ordererOrg/*
src/asset/organizations/fabric-ca/org1/*
src/asset/organizations/fabric-ca/org2/*
src/asset/organizations/ordererOrganizations/*
src/asset/organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
